.parent {
    height: 300px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.child {
    height: 150px;
    border: 2px solid red;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}